/* Fonts to Include */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
  font-family: Bellada;
  src: url("/fonts/Bellada.ttf") format("opentype"); /* Using custom font NON-Google */
}

/* Preprocessing CSS */
body {
  padding: 0px;
  margin: 0px;
}

/* Styling for Navigation Bar */
.main_template {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation_bar {
  padding: 2vh;;
  display: flex;
  border-bottom: 1px solid black;
  height: 10vh;
}

#navigation_bar button {
  cursor: pointer; /* So when user hovers over, they know it's a button. */
  background-color: white;
}

#homepage_navigation {
  width: 70%; /* Subtracting the padding of navigation element. */
}

#side_navigations {
  width: 30%; /* Subtracting the padding of navigation element. */
  display: flex;
  align-items: center;
}

#logo_div {
  display: flex;
  align-items: center;
}

#logo_div button {
  margin-left: 2vw;
}

#logo_div h1 {
  font-family: 'Bellada', sans-serif;
}

#side_navigations ul {
  display: flex;
  width: 100%;
  margin: 0px;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0px;
}

#navigation_bar button {
  border: none;
  padding: 8px;
}

#navigation_bar button:hover {
  color: #d3d3d3;
}

#logo_button:hover {
  color: black !important;
}

#sign_in_button {
  border-radius: 5px;
  border: 2px solid black !important;
}

/* Styling for Footer */
footer {
  padding: 10px;
  border-top: 1px solid black;
  text-align: center;
  height: 5vh;
}

/* Main Content */
.homepage_banner {
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  background-image: url('/img/Homepage_Banner.jpg');
  background-size: cover; /* Resolution won't look nice, but chances of monitor being this big are slim. Will stretch image to fit the div. */
  border-bottom: 1px solid black;
}

.centered_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.centered_text h1, .centered_text h2, .centered_text h3, .centered_text p {
  margin: 1vh;
  color: white;
}

.specials {
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  border-bottom: 1px solid black;
}

.next_js_image_container {
  position: relative;
  height: 90%;
  width: 60%;
}

.menu_highlights {
  padding: 25px;
  background-image: url("/img/Stitched_Background.jpg");
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu_highlights h1 {
  margin: 1vh;
}

.menu_highlights_grid {
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "appetizer appetizer beverages beverages beverages"
    "appetizer appetizer beverages beverages beverages"
    "entrees entrees entrees desserts desserts"
    "entrees entrees entrees desserts desserts";
  color: white;
}

.grid_area_one {
  grid-area: appetizer;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/img/Appetizer.jpeg');
  background-size: cover;
}

.grid_area_two {
  grid-area: beverages;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/img/Beverages Image.jpg');
  background-size: cover;
}

.grid_area_three {
  grid-area: entrees;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/img/Entrees.jpg');
  background-size: cover;
}

.grid_area_four {
  grid-area: desserts;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/img/Desserts Image.jpg');
  background-size: cover;
}

/* Reservation Page Styling */
.reservation_page {
  height: 80vh;
  background-image: url('https://static.wixstatic.com/media/f286e9_ba22c0671d27467f8c964937c3bc9da8~mv2_d_5683_3789_s_4_2.jpg/v1/fill/w_880,h_588,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f286e9_ba22c0671d27467f8c964937c3bc9da8~mv2_d_5683_3789_s_4_2.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reservation_page h1, .reservation_page h2 {
  margin: 0.5vh;
  color: white;
}

#reservation_form {
  background-color: bisque;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  border-radius: 7px;
  border: 5px solid black;
}

#user_alert_for_registration {
  display: none;
  background-color: bisque;
  color: black;
  position: fixed;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

#user_alert_for_registration h2 {
  color: black;
}



/* Menu Page Styling */
.menu_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://static.wixstatic.com/media/f286e9_ba2416c5623a40938109ff0b4608ba49~mv2.jpg/v1/fill/w_557,h_629,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f286e9_ba2416c5623a40938109ff0b4608ba49~mv2.jpg');
  background-size: cover;
}

.menu_page h1 {
  margin-top: 2vh;
  margin-bottom: 1vh;
  color: white;
}

#menu {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "appetizers image_one"
    "image_two entrees"
    "sides image_three"
    "image_four desserts";
  padding: 5px;
  margin: 25px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
}

#menu h2, #menu ol {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 0px;
  margin-right: 0px;
}

#appetizers {
  grid-area: appetizers;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#entrees {
  grid-area: entrees;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sides {
  grid-area: sides;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#desserts {
  grid-area: desserts;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#image_one_right_container {
  grid-area: image_one;
  position: relative;
}

#image_two_left_container {
  grid-area: image_two;
  position: relative;
}

#image_three_right_container {
  grid-area: image_three;
  position: relative;
}

#image_four_left_container {
  grid-area: image_four;
  position: relative;
}

/* Careers Page Styling */
.career_page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/img/Tiles.jpg');
  background-repeat: repeat;
  background-size: contain;
}

.career_panel {
  width: 40%;
  margin: 20px;
}

.career_card {
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  background-color: antiquewhite;
}

.career_card h3, .career_card h4 {
  margin: 1px;
}

/* About Us Styling */
.about_us_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://static.wixstatic.com/media/f286e9_7ac216d357ef4d30b935ceebf3e2f68b~mv2_d_7360_4912_s_4_2.jpg/v1/fill/w_883,h_586,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f286e9_7ac216d357ef4d30b935ceebf3e2f68b~mv2_d_7360_4912_s_4_2.jpg');
  background-size: cover;
  height: 75vh;
}

#about_us_and_award_strip_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

#about_us {
  width: 80%;
  border-width: 5px 5px 0px 5px;
  border-color: black;
  padding: 10px;
  border-style: solid;
  background-color: white;
}

#award_strip {
  width: 100vw;
  height: 17vh;
  position: relative;
  background-color: #bd2333;
}

#closing_brackets {
  margin-bottom: 2vh;
  height: 4vh;
  width: 80%;
  border-width: 0px 5px 5px 5px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  background-color: white;
}

/* Sign In Page Styling */
.sign_in_page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://static.wixstatic.com/media/f286e9_acfab150365c45b9b4a148104ab51b23~mv2.jpg/v1/fill/w_1903,h_807,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f286e9_acfab150365c45b9b4a148104ab51b23~mv2.jpg");
}

#sign_up_form {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  border-radius: 7px;
  border: 5px solid black;
  padding: 10px;
}